#!/usr/bin/env python
"""

Copyright (c) 2008  Dustin Sallings <dustin@spy.net>
"""

import sys

sys.path.append("lib")

from twisted.application import internet, service
from twisted.web import server, resource, static
from twisted.internet import defer, task

import slosh

# Basic configuration
PORT=8080
ROOT='example'
TYPE=slosh.TYPE_NORMAL #TYPE_MAILBOX topics only exist while clients are listening

application = service.Application('slosh')
serviceCollection = service.IServiceCollection(application)

# Keep really short sessions.
server.Session.sessionTimeout=30
topics = slosh.Topics()
topics.type=TYPE

root = static.File(ROOT)
root.putChild('topics', topics)

site = server.Site(root)
site.sessionCheckTime = 30
internet.TCPServer(PORT, site).setServiceParent(serviceCollection)
