#!/usr/bin/env python
"""

Copyright (c) 2008  Dustin Sallings <dustin@spy.net>
"""

import sys

sys.path.append("lib")

from twisted.application import internet, service
from twisted.web import server, resource, static
from twisted.internet import defer, task

import slosh

# Basic configuration
PORT=8080
ROOT='example'

application = service.Application('slosh')
serviceCollection = service.IServiceCollection(application)

# Keep really short sessions.
server.Session.sessionTimeout=30

root = static.File(ROOT)
root.putChild('topics', slosh.Topics())

site = server.Site(root)
site.sessionCheckTime = 30
internet.TCPServer(PORT, site).setServiceParent(serviceCollection)
